@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}

.my-info {
    text-transform: uppercase;
}

.img-logo {
    max-width: 100%;
}

canvas{
    display: block;
    vertical-align: bottom;
}

#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; }